# Global ignores
.DS_Store
Thumbs.db
.idea/
.vscode/

# Python
__pycache__/
.pytest_cache/
.venv/
venv/

# Node
node_modules/
frontend/node_modules/

# Env files
.env
.env.*

# Logs
*.log

# Build artifacts
frontend/static/scss/base.css

# Runtime artifacts
backend/celerybeat-schedule